<div class="content">

    <h1 class="page-title">Nuevo héroe</h1>

    <form [formGroup]="myForm">
        <mat-form-field appearance="fill" class="form-element form-element-block">
            <mat-label>Nombre</mat-label>
            <input maxlength="15" minLength="3" type="text" matInput placeholder="Nombre" formControlName="name" upperCaseFormat>
            <mat-error *ngIf="errorHandling('name', 'required')">
                Debes introducir un <strong>nombre</strong>
            </mat-error>
            <mat-error *ngIf="errorHandling('name', 'minLength')">
                El <strong>nombre</strong> debe tener entre 3 y 15 caracteres.
            </mat-error>
            <mat-error *ngIf="errorHandling('name', 'maxLength')">
                El <strong>nombre</strong> debe tener entre 3 y 15 caracteres.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-element form-element-block">
            <mat-label>Descripción</mat-label>
            <textarea class="desc-text-area" maxlength="150" matInput formControlName="bio"></textarea>
            <mat-error *ngIf="errorHandling('bio', 'maxLength')">
                La <strong>descripción</strong> no puede contener más de 150 caracteres.
            </mat-error>
        </mat-form-field>

        <!-- <mat-checkbox class="form-element">Estado activo</mat-checkbox> -->

        <button class="saveButton" (click)="guardar()" mat-flat-button color="primary"
            class="form-element form-element-block">Crear héroe</button>
    </form>

</div>