/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(80, 80, 80);
}

.content {
    // background-color: red;
    padding: 40px 32px;
}

.form-line {
    // display: flex;
    padding: 20px 0;
    align-items: baseline;
}

.form-element {
    font-size: 16px !important;
    font-weight: 500 !important;
    // margin-right: 2em;
    margin-right: 30px !important;
    width: 165px !important;
  }
  
